.upVote {
  color: #0091ff;
}

.downVote {
  color: #5d00ff;
}

.upVoteNum {
  color: #0091ff;
}

.downVoteNum {
  color: #5d00ff;
}

.defaultVoteNum {
  width: fit-content;
  padding: 0 0.25rem 0.25rem 0.25rem;
  margin: 0;
}